html {
	margin: 0;
	padding: 0;
}

body {
	  font-family: helvetica;
	  color: black;
	  background-color: #52c7b8;
	  line-height: 1.88889;
    margin: 0;
  	padding: 0;
}

header {
    margin-top: 50px;
	  margin-bottom: 10px;
	  margin-left: 50px;
}

h2 {
  letter-spacing: 1px;
	margin-bottom: 0;
	color: black;
}

h3 {
	letter-spacing: 1px;
	margin-bottom: 0;
	color: black;
}

Img {
  border: 3px solid black;
  border-radius: 10%;
}

.textbox {
  padding: 25px 10px 10px 50px;
}

.intro {
  text-align: center;
}

#gramming {
  background-color: #4db6ac;
}

#previous {
  background-color: #26a69a;
}
